$mainColor: #95A5A6;
$secondaryColor: rgb(20, 12, 110);
$thirdColor: black;
$fourthColor: #FFFFFF;

$espacio-estandar: 10px;
$espacio-doble: 20px;

$margencero: 0px;
$padeocero: 0px;

$boxeo: border-box;
